/* styles.css */

/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Define overall styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #6a1b9a; /* Dark Purple */
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #9c27b0; /* Purple */
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e1bee7; /* Light Purple */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#bio h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #6a1b9a; /* Dark Purple */
    color: white;
}
